@import "../../../styles.scss";


.logo-bg-image {
  background-image: url("../../../assets/images/light-galaxy.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0px;
}

.logo-container {
  gap: 36px;
}

.logo-header-text {
  font-family: $secondary-font;
  font-size: 80px;
  letter-spacing: -0.04em;
  text-align: center;
  line-height: 76.8px;
  color: $primary-color;
  max-width: 588px;
}

.logo-para-text {
  font-family: $primary-font;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: $text-color;
  text-align: center;
  max-width: 384px;
}

.horoscope-btn {
  border: none;
  height: 46px;
  border-radius: 4px;
  padding: 18px 16px;
  color: #ffffff;
  background-color: $button-color;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 19.25px;
}

.logo-img {
  position: relative;
}

.logo-outer {
  width: 544px;
  height: 544px;
}

.logo-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  animation: rotate-inner 8s linear infinite;
}

@keyframes rotate-inner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.astrology-container {
  background-image: url("../../../assets/images/astrology.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 801px;
  padding: 120px;
}

.astrology-gap {
  gap: 126px;
}

.astrology-text {
  font-family: $secondary-font;
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 38.4px;
  color: $primary-color;
}

.alphabet-gap {
  gap: 16px;
}

.dictionary-gap {
  gap: 40px;
  max-width: 384px;
}

.alphabet-text {
  font-family: $primary-font;
  line-height: 22.4px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #fafaf9;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffcc00;
    transform: scale(1.1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background: #ffd700;
    border-radius: 2px;
    transition: width 0.4s ease, left 0.4s ease, box-shadow 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
    left: 0%;
    box-shadow: 0px 0px 12px #ffd700, 0px 0px 25px #ffcc00;
  }

  &.selected {
    color: #ffffff;
    text-shadow: 0 0 15px #ffffff, 0 0 30px #ffffff;
    transform: scale(1.1);
    animation: pulseGlow 1.2s infinite alternate;

    &::after {
      background: #ffffff;
      width: 100%;
      left: 0%;
      box-shadow: 0px 0px 15px #ffffff, 0px 0px 30px #ffffff;
    }
  }
}

@keyframes pulseGlow {
  0% {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  100% {
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
  }
}

.astrology-group {
  border: 1px solid $primary-color;
  border-radius: 4px;
  height: 46px;
  width: 384px;
}

.astrology-field {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px 16px;
  font-family: $primary-font;
  line-height: 22.4px;
  letter-spacing: -0.01em;
  color: $primary-color;
}

.astrology-field::placeholder {
  font-family: $primary-font;
  line-height: 22.4px;
  letter-spacing: -0.01em;
  color: $primary-color;
}

.alphabet-search {
  font-family: $primary-font;
  line-height: 22.4px;
  letter-spacing: -0.04em;
  color: $primary-color;
}

.horizontal-border {
  height: 1px;
  background-color: $border-color;
  opacity: 20%;
}

.profile-container {
  background-image: url("../../../assets/images/yellow-galaxy.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px;
}

.profile-text {
  font-family: $secondary-font;
  font-size: 72px;
  line-height: 69.12px;
  letter-spacing: -0.04em;
  color: $secondary-color;
  width: 588px;
  text-align: center;
}

.profile-para {
  font-family: $primary-font;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: $tertiary-color;
  width: 384px;
  text-align: center;
}

.moon-container {
  background-image: url("../../../assets/images/light-yellow-galaxy.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px;
}

.moon-sign-gap {
  gap: 24px;
}

.moon-sign-container {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  background-color: $card-color;
}

.dream-container {
  background-image: url("../../../assets/images/dark-galaxy.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 801px;
  padding: 120px;
}

.moon-sign-input-gap {
  gap: 24px;
}

.moon-sign-group {
  position: relative;
  border-radius: 4px;
  height: 46px;
  width: 384px;
  display: flex;
  align-items: center;
}

.moon-sign-field {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: $primary-color;
  padding: 12px 16px;
  font-family: $primary-font;
  line-height: 22.4px;
  letter-spacing: -0.01em;
  color: $input-secondary-color;
  border-radius: 4px;
}

.moon-sign-field::placeholder {
  font-family: $primary-font;
  line-height: 22.4px;
  letter-spacing: -0.01em;
  color: $input-secondary-color;
}

.input-icon {
  position: absolute;
  right: 16px;
  pointer-events: none;
}


.letter-scroll {
  max-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
  border-radius: 10px;
  cursor: pointer;
  }
}


@media screen and (max-width: 992px) {
  .logo-header-text {
    font-size: 72px;
    line-height: 64.8px;
    max-width: 326px;
  }

  .horoscope-btn {
    width: 326px;
  }

  .logo-para-text {
    max-width: 326px;
  }

  .logo-outer {
    width: 272px;
    height: 272px;
  }

  .logo-inner {
    width: 200px;
    height: 200px;
  }

  .astrology-container {
    height: 1291px;
    padding: 80px 36px;
  }

  .astrology-gap {
    gap: 40px;
  }

  .astrology-text {
    max-width: 304px;
  }

  .astrology-group {
    width: 100%;
  }

  .letter-scroll {
    max-height: 715px;
  }

  .profile-container {
    padding: 120px 10px;
    height: 733px;
    gap: 36px;
  }

  .moon-sign-wrapper {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .moon-sign-img {
    width: 100px;
    height: 100px;
  }

  .profile-text {
    font-size: 56px;
    line-height: 53.76px;
    width: 326px;
  }

  .profile-para {
    width: 326px;
    color: #1c1917;
  }

  .moon-sign-container {
    width: 135px;
    height: 135px;
    border-radius: 6px;
    flex-shrink: 0;
  }

  .dream-container {
    height: 1235px;
    padding: 80px 36px;
  }

  .moon-container {
    padding: 120px 40px;
  }

  .profile-label {
    color: $tertiary-color;
    font-family: $primary-font;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .moon-sign-group {
    height: 46px;
    width: 304px;
  }

  .moon-sign-field {
    width: 100%;
    height: 100%;
  }
}
