<ng-container *ngIf="!isMobileDevice">
  <div class="d-flex justify-content-between header-container">
    <div class="d-flex align-items-center">
      <img src="'../../../../../assets/images/star.svg" />
      <span class="ms-1 astro-text">Astrology Dictionary</span>
    </div>
    <div class="d-flex align-items-center header-wrapper">
      <span
        class="header-text"
        [ngClass]="clientActiveMenu === 'home' ? 'fw-700' : ''"
        (click)="setActiveMenu('home', 'client')"
        >Home</span
      >
      <span
        class="header-text"
        [ngClass]="clientActiveMenu === 'astroDictionary' ? 'fw-700' : ''"
        (click)="setActiveMenu('astroDictionary', 'client/astro-dictionary')"
        >Astro Dictionary</span
      >
      <span
        class="header-text"
        [ngClass]="clientActiveMenu === 'dreamDictionary' ? 'fw-700' : ''"
        (click)="setActiveMenu('dreamDictionary', 'client/dream-dictionary')"
        >Dream Dictionary</span
      >
      <span
        class="header-text"
        [ngClass]="clientActiveMenu === 'astrologicalProfile' ? 'fw-700' : ''"
        (click)="
          setActiveMenu('astrologicalProfile', 'client/astrological-profile')
        "
        >Astrological profile</span
      >
      <!-- <span class="header-text">Daily horoscope</span> -->
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isMobileDevice">
  <div
    class="d-flex flex-column header-container"
    [ngClass]="showCrossMenu ? 'h-100' : 'h-88'"
  >
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="'../../../../../assets/images/star.svg" />
        <span class="ms-1 astro-text">Astrology Dictionary</span>
      </div>
      <img
        src="'../../../../../assets/images/hamburger.svg"
        (click)="showMenu()"
        *ngIf="showSideMenu"
      />
      <img
        src="'../../../../../assets/images/cross-icon.svg"
        (click)="closeMenu()"
        *ngIf="showCrossMenu"
      />
    </div>
    <ng-container *ngIf="showCrossMenu">
      <div class="d-flex flex-column header-wrapper">
        <span
          class="header-text"
          [ngClass]="clientActiveMenu === 'home' ? 'fw-400' : ''"
          (click)="setActiveMenu('home', 'client')"
          >Home</span
        >
        <span
          class="header-text"
          [ngClass]="clientActiveMenu === 'astroDictionary' ? 'fw-400' : ''"
          (click)="setActiveMenu('astroDictionary', 'client/astro-dictionary')"
          >Astro Dictionary</span
        >
        <span
          class="header-text"
          [ngClass]="clientActiveMenu === 'dreamDictionary' ? 'fw-400' : ''"
          (click)="setActiveMenu('dreamDictionary', 'client/dream-dictionary')"
          >Dream Dictionary</span
        >
        <span
          class="header-text"
          [ngClass]="clientActiveMenu === 'astrologicalProfile' ? 'fw-400' : ''"
          (click)="
            setActiveMenu('astrologicalProfile', 'client/astrological-profile')
          "
          >Astrological profile</span
        >
        <!-- <span class="header-text">Daily horoscope</span> -->
      </div>
    </ng-container>
  </div>
</ng-container>
