@font-face {
  font-family: "ZT Mota";
  src: url("/assets/fonts/ZTMota-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("/assets/fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary-color: #fafaf9;
$secondary-color: #292524;
$tertiary-color: #78716c;
$text-color: #1C1917;
$button-color: #f59e0b;
$border-color: #fef3c7;
$input-secondary-color: #57534e;
$card-color: #fffbeb;
$primary-font: "Outfit";
$secondary-font: "ZT Mota";
