<div class="table-container p-1">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input
    type="text"
    placeholder="Search for title, description"
    class="dream-input mt-2 w-50"
    (input)="onSearchChange($event)"
  />
    <button class="btn btn-add" (click)="addDictionary(addAstrologicalDictionary)">
      Add Dictionary
    </button>
  </div>

  <table class="dream-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th class="date-width">Date Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="filteredData.length === 0">
        <td colspan="4" class="text-center text-muted">No records found</td>
      </tr>
      <tr *ngFor="let item of filteredData">
        <td>
          {{ item.name }}
        </td>
        <td>
          <app-tele-read-more
            [content]="item.desc"
            [maxHeight]="60"
          ></app-tele-read-more>
        </td>

        <td>
          {{ item.dateAdded | date : "d MMMM yyyy" }}
        </td>
        <td>
          <div class="d-flex align-item-center">
            <i
              class="fa fa-edit me-2 icon-color"
              (click)="
                openEditAstrologicalDictionaryModal(
                  editAstrologicalDictionary,
                  item.id
                )
              "
            ></i>
            <i
              class="fa fa-trash icon-color"
              (click)="deleteDictionary(deleteAstrologicalDictionary)"
            ></i>
          </div>
        </td>

        <ng-template #editAstrologicalDictionary>
          <div class="modal-header">
            <span class="modal-title"> Edit Astrological Dictionary </span>
            <i class="fa fa-times text-muted cross-icon" (click)="closeModal()" data-dismiss="modal"></i>
          </div>
          <div class="modal-body p-3">
            <form [formGroup]="astrologicalForm">
              <div class="d-flex flex-column">
                <label class="dream-label">Astrological Title</label>
                <input
                  type="text"
                  placeholder="Enter your title here..."
                  class="dream-input mt-2"
                  formControlName="title"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (astrologicalForm.get('title')?.touched ||
                      astrologicalForm.get('title')?.dirty) &&
                    astrologicalForm.get('title')?.errors?.required
                  "
                >
                  Required
                </small>
              </div>
              <div class="d-flex flex-column mt-4">
                <label class="mb-2 dream-label">Astrological Description</label>
                <ckeditor
                  [editor]="Editor"
                  [config]="editorConfig"
                  formControlName="desc"
                ></ckeditor>
                <small
                  class="text-danger"
                  *ngIf="
                    (astrologicalForm.get('desc')?.touched ||
                      astrologicalForm.get('desc')?.dirty) &&
                    astrologicalForm.get('desc')?.errors?.required
                  "
                >
                  Required
                </small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              value="Upload"
              class="btn btn-save"
              data-dismiss="modal"
              (click)="saveEditedDictionary(item.id)"
            >
              Save
            </button>
            <button
              type="button"
              value="Close"
              class="btn btn-dismiss"
              data-dismiss="modal"
              (click)="closeModal()"
            >
              Close
            </button>
          </div>
        </ng-template>

        <ng-template #deleteAstrologicalDictionary>
          <div class="modal-header">
            <span class="modal-title"> Delete Astrological Dictionary </span>
            <i class="fa fa-times text-muted cross-icon" (click)="closeModal()" data-dismiss="modal"></i>
          </div>
          <div class="modal-body">
            <span class="dream-label">
              Are you sure you want to delete {{ item.name }}?
            </span>
          </div>
          <div class="modal-footer">
            <button class="btn btn-save" (click)="submitConfirmDelete(item.id)">
              Yes
            </button>
            <button class="btn btn-dismiss" (click)="closeModal()">No</button>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #addAstrologicalDictionary>
  <div class="modal-header">
    <span class="modal-title"> Add Astrological Dictionary </span>
    <i class="fa fa-times text-muted cross-icon" (click)="closeModal()" data-dismiss="modal"></i>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="astrologicalForm">
      <div class="d-flex flex-column">
        <label class="dream-label">Astrological Title</label>
        <input
          type="text"
          placeholder="Enter your title here..."
          class="dream-input mt-2"
          formControlName="title"
        />
        <small
          class="text-danger"
          *ngIf="
            (astrologicalForm.get('title')?.touched ||
              astrologicalForm.get('title')?.dirty) &&
            astrologicalForm.get('title')?.errors?.required
          "
        >
          Required
        </small>
      </div>
      <div class="d-flex flex-column mt-4">
        <label class="mb-2 dream-label">Astrological Description</label>
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          formControlName="desc"
        ></ckeditor>
        <small
          class="text-danger"
          *ngIf="
            (astrologicalForm.get('desc')?.touched ||
              astrologicalForm.get('desc')?.dirty) &&
            astrologicalForm.get('desc')?.errors?.required
          "
        >
          Required
        </small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      value="Upload"
      class="btn btn-save"
      data-dismiss="modal"
      (click)="saveDictionary()"
    >
      Save
    </button>
    <button
      type="button"
      value="Close"
      class="btn btn-dismiss"
      data-dismiss="modal"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
